@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*styles heading*/
h1{
    color:black;
    font-family:fantasy;
    font-size: 50px;
    text-shadow: grey;
    font-weight: 100;
}
/*defines height on page*/
body{
    height: 1500px;
}
/*styles border of elements*/
.border{
    border: 0.5px solid rgb(0, 0, 0);                                  
}
/* styles logo*/
img{
    margin-top: -70px;
    margin-right: 1500px;
    height: 120px;
    width: 140px;
    position: sticky;
}   
/*defines height of header and footer*/
header, footer{
    height: 60px
}
/* Style the header with grey background and some padding*/
header{
    background-color: #F535AA;
    position: sticky;
    top: 0px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: fantasy;
}
/* Style the header links*/
.header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px
  }
/*styles footer*/ 
footer{
    background-color: #ffc0cb ;
    height: 200px;
}
/*styles background image in element*/
article{
    height: 800px;
    width: 100%;
    background-image: url("/img/mainpage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}      
section{
    background-color: #0000ff;
    height: 300px;
}
.float-left{
    float: left;
}
.clearfix{
    clear: both;
}
li{
    display: inline-block;
    font-size: 50px;
    padding: 20px;
}
nav ul a {
    padding: 20px 50px;
    text-decoration: none;
  }
a:focus{
    color: red;
    font-weight: 600;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden; 
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/*button creation*/
.button {
    margin-left: 40%;
    margin-top: 300px;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-emphasis-style: bold;
    color: #ffffff;
    background-color: #F535AA;
    border-radius: 6px;
    outline: none;
  }