* {
    box-sizing: border-box;
    margin: 0%;
}
body{
    height: 2000px;
    background-image: url("img/maingpage.png");
}
.border{
    border: 0.5px solid #000;                                  
}
.bayfest{
    image-orientation: flip;

}
img{
    height: 100px;
    width: 100px;
    position: sticky;
}   

header, footer{
    height: 60px
}
/* Style the header with grey background and some padding*/
header{
    background-color: #808080;
    position: sticky;
    top: 0px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 120px;
}
/* Style the header links*/
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
footer{
    background-color: #ffc0cb ;

}
article{
    background-image: url("img/mainpage.png");

    
}      
section{
    background-color: #0000ff;
}

article, section{
    height: 200px;

}
/*aside{

    height: 400px;
    width: auto;
    background-image: url("/img/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
.float-left{
    float: left;
}
.clearfix{
    clear: both;
}
#article_section_column {
    width: 100%;
    height: 500px;
    
}
#aside_column {
    width: 40%;
}
li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

  /* Change the background color on mouse-over */
  header a:hover {
    
    color: rgb(227, 31, 149)
  }
  
  /* Style the active/current link*/
  header a.active {
    color: rgb(223, 25, 196);
  }
  a{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }